<div class="enemy enemy_{id}">
  <div class="enemy_inner">
    <div class="enemy_inner_top">
      <div class="enemy_icon"></div>
    </div>
    <div class="enemy_inner_bottom">
      <div class="name">
        <span class="text">Spieler: </span>
        <span class="value">{name}</span>
      </div>
      <div class="cards">
        <span class="text">Karten: </span>
        <span class="value">{cards}</span>
      </div>
      <div class="wins">
        <span class="text">Gewonnen: </span>
        <span class="value">{wins}</span>
      </div>
    </div>
  </div>
</div>
